.page_login{
	text-align: center;
}

.form_login{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
}

.form_login .input {
	background: #f9f9f9 url("../image/input-bg.png") repeat-x scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
}

.form_login .input .icon{
	background: rgba(0, 0, 0, 0) url("../image/dialog-input-icons-bg.png") repeat-x scroll 0 0;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #ccc;
    float: left;
    height: 48px;
    overflow: hidden;
    width: 48px;
}


.form_login  .form_user  .icon i {
    background: rgba(0, 0, 0, 0) url("../image/dialog-input-icons.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 48px;
    text-indent: -9999em;
    width: 48px;
}

.form_login  .form_pass  .icon i {
    background: rgba(0, 0, 0, 0) url("../image/dialog-input-icons.png") no-repeat scroll 0 0;
    background-position: -48px 0;
    cursor: pointer;
    display: block;
    height: 48px;
    text-indent: -9999em;
    width: 48px;
}

.form_login input {
	background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    width: 330px;
	font-size: 18px;
    height: 34px;
	border: 0 none;
 }
 
 .form_submit {
 	background: rgba(0, 0, 0, 0) linear-gradient(#28a0e5, #015e94) repeat scroll 0 0;
 }
 
 .btn {
 	border-radius: 9px;
    clear: both;
    height: 48px;
    line-height: 48px;
 }
 
 .btn input {
	cursor: pointer;
 }
 
.warning {
    background: #80a4e5 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    line-height: 25px;
    margin: -35px 320px 0;
    padding: 0 5px;
	position: absolute;
}
 
 
